.wrapper {
  padding: 40px 0;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 1100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #333;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 200px;
  width: 1000px;
  height: auto;
  border-radius: 15px;
}
 
.heroContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 400px;
  align-items: center;
  box-sizing: border-box;
}

.heroContent h1 {
  font-size: 28px;
  margin-bottom: 16px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.heroContent p {
  margin-bottom: 20px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.heroButton {
  background: #2563eb;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.heroButton:hover{
  background-color: #ffffff;
  color: #000

}

.heroImage {
  margin-top: 30px;
  max-height: 350px;
}

.categories {
  text-align: left;
  width: 100%;
  padding: 60px 50px;
}

.categories h1 {
  font-size: 32px;
  font-weight: 700;
}

.categoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 24px;
  max-width: 1100px;
  margin: 40px auto 0;
}

.categoryCard {
  background: #f9f9f9;
  width: 100%;
  height: 160px;
  border-radius: 12px;
  padding: 20px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.categoryCard:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.categoryCard img {
  max-width: 70px;
  max-height: 70px;
  margin-bottom: 12px;
  object-fit: contain;
}

.categoryCard span {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.categoryCard:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}